/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#Menu{
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color:yellow;
  font-size: 18px;
}
#num{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: large;
}
  #text{
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
	color: #0101DF;
  }
 #tex{
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;

  }
#texto{
   font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 18px;
  
}
#sidenav-overlay{
  z-index: 0;
}
nav ul a:hover{
   background-color: #8A0829; 
}


.extra,forma{
  margin-top:px 
}
.parallax-container{
  height: 200px;
}

 /*Redes Sociales*/
  *


  .social{
    position: fixed;
    left: 0;
    top: 260px;
    z-index: 2000;
}
.social  ul {
    list-style: none;

}
.social ul li a{
    padding: 15px 15px;
    display: inline-block;
    color: white;
    background: #000000;
    text-decoration: none;

    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

}
.social  ul li .icon-facebook {
    background: #3b5998;
}
.social  ul li .icon-twitter {
    background:  #00abf0 ;
}
.social  ul li .icon-mail {
    background:#666666;
    
}
.social  ul li .icon-pinterest {
    background:#ae181f;
    }
.social ul li a:hover{
    padding: 10px 30px;
    background: target="_blank";
}